.cabecalho {
  position: absolute;
  top: 0;
  background: yellow;
  padding: 5px;
  width: 100%;
  border: 5px solid black;
  margin-bottom: 100%;
  margin-top: 0%;
  z-index: 1;
  height: auto; 
  display: block;
}
.list, list{
  margin-top: auto;
  display: none;
  color: blue;
  background: white;
  border: 5px solid black ;
  padding: 10px 10px;
  width: 95%;
  cursor: help;
}
.list saldo{
  display: inline-block;
  color: red;
}
.list payment{
  display: inline-block;
  color: red; 
}
.list-changelogs{
  display: block;
  color: blue;
  background: white;
  border: 5px solid black ;
  padding: 10px 10px;
  width: 100%;
  cursor: help;
  font-size: 17px;
}
.adminID{
  background: white;
  border: 3px solid black;
  color: black;
  width: 100%;
  cursor: help;
  height: auto;
  display: block;
}
