[rgb], .rgb{
font-family: "Roboto",sans-serif, arial;
  animation: rbg 1s infinite linear;
}
.linear-gradient{
font-family: "Roboto",sans-serif, arial;
background-image: linear-gradient(60deg,red,blue,purple);
  animation: auto-deg 1s infinite linear;
}

@keyframes rgb{
  0%{
    border-color: white;
    color: white;
  }
  14%{
    border-color: white;
    color: white;
  }
  28%{
    border-color: white;
    color: white;
  }
  42%{
    border-color: white;
    color: white;
  }
  56%{
    border-color: white;
    color: white;
  }
  70%{
    border-color: white;
    color: white;
  }
  84%{
    border-color: white;
    color: white;
  }
  98%{
    border-color: purple;
    color: purple;
  }
}