/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/

/* 
  The style rules specify elements by type and by attributes such as class and ID
  Each section indicates an element or elements, then lists the style properties to apply
  See if you can cross-reference the rules in this file with the elements in index.html
*/

/* Our default values set as CSS variables */
@font-face {
  font-family: "Noto Sans Mono", monospace;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap")
    format("opentype");
}
:root {
  --color-padrao: white;
  --color-text-main: #000000;
  --color-primary: #ffff00;
  --wrapper-altura: 87vh;
  --image-max-largura: 100px;
  --image-margin: 1rem;
  --font-principal: "Arial";
  --font-family-cabecalho: "Roboto, sans-serif;";
  --max-largura: 144px;
  --max-altura: 544px;
  --max-peso: 500;
  --font-tamanho: 15px;
  --font-tamanho-cabecalho: 20px;
  --fundo-padrao: white;
  --negrito: bold;
  --espaco-em-branco: nowrap;
  --btn-tamanho: 10pt;
  --sub-tamanho: 17pt;
  --X: 0px;
  --Y: 390px;
  --PINGOBRASIMG: url(https://cdn.glitch.global/b39d6a4a-0e14-4b41-930d-29d3ccd6c137/pingobras.png?v=1650114443929);
  --PINGOBRASIMG2: url(https://cdn.glitch.global/b39d6a4a-0e14-4b41-930d-29d3ccd6c137/PINGOBRAS.png?v=1650116906906);

  --display: flex formato de celular;
  --height: "altuta";
  --Weight: "peso";
  --width: "largura";
  --white-space: "espaco em branco";
}
/* Basic page style resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
[hidden] {
  display: none !important;
}
/* Iamport fonts */ /* Our remix on glitch button */
/* Navigation grid */
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
  font-family: Arial, helvetica, sans-serif;
  background-image: var(--PINGOBRASIMG2);
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  opacity: 1;
}
a{
  font-size: 15px;
  border: 5px solid black;
  font-weight: bold;
  text-decoration: none;
  transform: translateY(5px);
  transition: all 0.3s ease-out;
  width: 75%;
  border-radius: 15px;
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  color: white;
}
a:hover {
  color: red;
}
a[links]{
margin: 0;
display: block;
text-align: center;
font-size: 20px;
cursor: alias;
border: none;
color:purple;
text-decoration: underline;
}
a[links]:hover{
  color:purple;
}

main-text {
  position: relative;
  text-align: center;
  font-size: 20pt;
  margin-bottom: 15px;
  color: black;
}
main-text:hover:before{
  transform: scaleX(1);
  transform-origin: bottom left;
}
main-text:before{
  content: " ";
  transform: scaleX(0);
  transform-origin: bottom right;
  display: block;
  position: absolute;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  inset: 0 0 0 0;
  background-image: linear-gradient(90deg,green,yellow,blue);
  z-index: -1;
  transition: transform 2s ease;
}

.logo-goves, a .logo-goves{
  margin: 0;
  display: block;
  text-align: left;
  border: none;
}
.direitos{
  margin: 0;
  display: block;
  text-align: center;
  border:none;
  cursor: help;
}

.titulo-do-produto {
  font-size: 20px;
  color: black;
  word-break: break-word;
}
.contator{
  color: white;
}
txtcolor:hover:before{
  transform: scaleX(1);
  transform-origin: bottom left;
  font-size: 20px;
}
txtcolor:before{
  content: " ";
  transform: scaleX(0);
  transform-origin: bottom right;
  display: block;
  position: absolute;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  inset: 0 0 0 0;
  background-image: linear-gradient(green,yellow,blue);
  z-index: -1;
  transition: transform 1s ease;
  font-size: 20px;
}
txtcolor{
  font-size: 20px;
  position: relative;
}

h2 {
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: var(--sub-tamanho);
  color: blue;
}
h2:hover:before{
  transform: scaleX(1);
  transform-origin: bottom left;
}
h2:before{
  content: " ";
  transform: scaleX(0);
  transform-origin: bottom right;
  display: block;
  position: absolute;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  inset: 0 0 0 0;
  background-image: linear-gradient(green,yellow,blue);
  z-index: -1;
  transition: transform 1s ease;
}

h3 {
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: var(--sub-tamanho);
  color: green;
}
h3:hover:before{
  transform: scaleX(1);
  transform-origin: bottom left;
}
h3:before{
  content: " ";
  transform: scaleX(0);
  transform-origin: bottom right;
  display: block;
  position: absolute;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  inset: 0 0 0 0;
  background-image: linear-gradient(blue,yellow,green);
  z-index: -1;
  transition: transform 1s ease;
}

h4{
  display: inline-block;
  text-align: center;
  font-size: 15px;
  color: white;
}
hr {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 15pt;
  text-align: center;
}
separador{
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 15pt;
  text-align: center;
  padding: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
}
tituloblue {
  text-align: center;
  margin-bottom: 20px;
  color: blue;
}
tituloyellow {
  text-align: center;
  margin-bottom: 20px;
  color: yellow;
}
.drawbox{
  width:100%;
  height:100px;
  border:1px solid black;
}

/* Page alturaure */
.site-altura {
  min-height: var(--wrapper-altura);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}
.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}
/* Instructions */
.instructions {
  margin: 1rem auto 0;
}
/* Navigation grid */
.footer {
  display: block;
  margin: 10px;
  width: 100%;
  font-size: 15pt;
  text-align: center;
  padding: 50px;
  flex-wrap: wrap;
  border-top: 4px solid white;
}
.footer.links {
  padding: 40px;
  white-space: nowrap;
}
.footer-dev {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  width: 100%;
  color: white;
}

.divider {
  padding: 0 1rem;
}

/* Button - Add it from the README instructions */
.PNG {
  box-shadow: -8px 20px 20px gray;
  width: 50%;
  justify-content: space-between;
}

/* Interactive image */
.illustration:active {
  transform: translateY(5px);
}

/* Button dip
- Toggling this class on and off will move it down and up again
- The button transition property above determines the speed of the translate (500ms)
*/

.dipped {
  background: green;
  transform: translateY(5px);
  cursor: wait;
}

.img-click {
  cursor: pointer;
  background: transparent;
  border: none;
  display: block;
  width: 75%;
  height: 75%;
}
.img-click:hover{
  border: none;
  display: block;
  width: 60%;
  height: 60%;
  transition: all 2s ease-out;
}

.popup {
  background-image: url("https://www.pngarts.com/files/10/Notice-PNG-Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75%;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  display: none;
  font-family: "arial", sans-serif;
  text-align: center;
  padding: 0px 10px 0px;
  opacity: 1;
}
.popup button {
  position: absolute;
  display: block;
  margin: -40px 0 20px auto;
  background-color: transparent;
  font-size: 30px;
  color: white;
  background: black;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: none;
  cursor: crosshair;
  top: 15%;
  right: 0;
}
.popup p {
  border: 5px dashed black;
  position: absolute;
  font-size: 24px;
  text-align: justify content;
  line-height: 25px;
  bottom: 20%;
}
.popup button:hover {
  background: green;
  box-shadow: -8px 20px 20px white;
  transition: all 1s ease-out;
}
.cabecalho {
  position: absolute;
  top: 0;
  background: yellow;
  padding: 7px;
  width: 100%;
  border: 5px solid black;
}
.list {
  display: none;
  color: blue;
  background: white;
  border: 5px solid black ;
  padding: 10px 10px;
  width: 95%;
  cursor: help;
}
.list saldo{
  display: inline-block;
  color: red;
}
.list payment{
  display: inline-block;
  color: green; 
}

/* The popup chat - hidden by default */
.chat{
  display: none;
  border: 5px solid black;
  z-index: 9;
  width: 100%;
}

/* Add styles to the form container */
.form-chat {
  color: white;
  max-width: 100%;
  padding: 7px;
  background-color: gray;
}

.form-chat textarea {
  color: black;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 5px solid black;
  background: white;
}

.form-chat textarea:focus {
  background-color: gold;
  outline: none;
}

.text-autentication{
  color: white; 
  font-weight: bold;
}
.input-autentication{
  color: black;
  width: 75%;
  padding: 10px;
}
.input-autentication:focus{
border-bottom: 3px solid lightblue;
font-size: 13px;
margin-top: 0;
color: blue;
}
#msgError{
  text-align: center;
  color: red;
  background: red;
  padding: 10px;
  border-radius: 4px;
  display: none;
}
#msgSuccess{
  text-align: center;
  color: #00bb00;
  background-color: #bbffbe;
  padding: 10px;
  border-radius: 4px;
  display: none;
}
/* Set a style for the submit/send button */
.youtube-video{
  width: 100%;
  height: 440px;
}
.social-live{
  width: 100%;
}
.audio{
  cursor: progress;
  outline: none;
  border: 5px solid black;
  border-radius: 25%;
  width: 100%;
  height: 55px;
}

#msgError{
  text-align: center;
  color: red;
  background: red;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

#msgSuccess{
  text-align: center;
  color: #00bb00;
  background-color: #bbffbe;
  padding: 10px;
  border-radius: 4px;
  display: none;
}