CODE_OF_CONDUCT.md
-admin
project-x
experimental/embutirVid.html
experimental/embutirVid.js
cadastro
server.js
relatorio
license.md
Footer
luis_das_artimanhas-auth.js
luis_das_artimanhas-auth.txt.js
luis_das_artimanhas-calc-net.js
-upload
text
bot