/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/


/* 
  The style rules specify elements by type and by attributes such as class and ID
  Each section indicates an element or elements, then lists the style properties to apply
  See if you can cross-reference the rules in this file with the elements in index.html
*/

/* Our default values set as CSS variables */
@font-face{
  font-family: 'Noto Sans Mono', monospace;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap")
    format("opentype");
}
:root {
  --color-padrao: white;
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --wrapper-altura: 87vh;
  --image-max-largura: 400px;
  --image-margin: 1rem;
  --font-principal: "Noto Sans Mono";
  --font-family-cabecalho: "Arial";
  --max-largura: 144px;
  --max-altura: 144px;
  --max-peso: 500;
  --font-tamanho: 25px;
  --font-tamanho-cabecalho: 40px;
  --fundo-padrao: white;
  --negrito: bold;
  --height: "altuta";
  --Weight: "peso";
  --width: "largura";
    
}
/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}
/* Iamport fonts *//* Our remix on glitch button */
.btndc{
        position: absolute;
        transform: translate(89px, 490px);
        font-family:  var(--font-tamanho)font-principal);
        padding: 5px;
        font-size: var(--font-tamanho);
        line-height: 1rem;
        font-weight: var(--max-peso);
        height: 3rem;
        cursor: pointer;
        background: gray;
        border: 5px solid black;
        box-sizing: border-box;
        border-radius: 0px;
        text-decoration: none;
        color: blue;
  white-space: nowrap;
}
.btn img {
  margin-right: auto;
}
.buttondc:hover {
  background-color: green;
}

/* Navigation grid */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 0rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
}

.footer .links {
  padding: nowrap;
}

.divider {
  padding: 0 1rem;
}
.btnlogin {
        transform: translate(144px, -37px);
        position: absolute;
        font-family: var(--font-principal);
        padding: 5px;
        font-size: 15px;
        line-height: 1rem;
        font-weight: var(--max-peso);
        height: 3rem;
        align-items: center;
        cursor: pointer;
        background: gray;
        border: 5px solid black;
        box-sizing: border-box;
        border-radius: 0px;
        text-decoration: none;
        color: blue;
}
.btnlogin img{
 margin-right: auto;
}

.btnlogin:hover {
  background-color: green;
}

/* Navigation grid */

.footerlogin {

  display: flex;

  justify-content: space-between;

  margin: 1rem auto 0;

  padding: 0rem 0 0rem 0;

  width: 100%;

  flex-wrap: wrap;
}


/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
      font-family: var(font-principal);
      max-width: var(--max-largura);
      max-height: var(--max-altura);
      font-family: Arial, helvetica, sans-serif;
      background-image: linear-gradient(45deg, cyan, purple);
  }

/* Page alturaure */
.wrapper {
  min-height: var(--wrapper-altura);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Instructions */
.instructions {
  margin: 1rem auto 0;
}

/* Button - Add it from the README instructions */
 btn,
input  var(--font-tamanho){ont-family: var(--font-principal);
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

/* Subheading */
h2 {
  color: #00FFFF;
}

/* Interactive image */
.illustration:active {
  transform: translateY(5px);
}

/* Button dip
- Toggling this class on and off will move it down and up again
- The button transition property above determines the speed of the translate (500ms)
*/
  
  .dipped {
  transform: translateY(5px);
}
