#app{
  font-family:Avenir,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  text-align:center;color:#2c3e50;
  margin-top:0
}
.el-row{margin-bottom:0;&:last-child{margin-bottom:0}}
.el-col{
  border-radius:4px
}
.el-menu-item.is-active{ background:#b0e0e6}
.grid-content{
  border-radius:4px;
  min-height:36px
}
.row-bg{
  preenchimento:10px 0;
  background-color:#f9fafc
}
.logo{
  height:50px
}
.logo,.main-title{
  margin:0;
  padding:0
}
.main-title {
  background-color:#00a0ff;
  color:#000
}
.main-compact,.main-menu-client,.main-window{
  margin:0;
  padding:0
}
.el-icon-menu-export{
  background-size :cover
}
.el-icon-menu-export:before{
  content:"\66FF";
  font-size:16px;
  visibility:hidden
}
label[data-v-3a98a95a]{
  width:25%;
  text-align:right ;
  exibir:bloco em linha;
  padding-right:20px
}
.el-row[data-v-3a98a95a]{
  padding-top:10px
}
label[data-v-a0a5e64a]{
  width:30%;
  text-align:right;
  display:inline-block;
  padding-right:20px
}
.el-row[data-v-a0a5e64a]{
  padding-top:10px
}
.left-button[data-v-1a7a1ae3]{
  width:120px;
  padding-left:0;
  margin:10px
} 
.el-footer[data-v-1a7a1ae3], .el-header[data-v-1a7a1ae3]{
  background-color:#b3c0d1;
  color:#333;
  text-align:center;
  line-height:60px
}
.el-aside[data-v-1a7a1ae3]{
  background-color:#d3dce6;
  color:#333;
  text-align:center;
  line-height:30px
}
.el-main[data-v-1a7a1ae3]{
  background-color: #e9eef3;
  color:#333;
  text-align:center;
  line-height:160px
}

body {
  background-image: url(https://cdn.glitch.global/b39d6a4a-0e14-4b41-930d-29d3ccd6c137/logo.png?v=1663674509545);
  font-family: "Lato", sans-serif;
}
html{
background-image: url(https://cdn.glitch.global/b39d6a4a-0e14-4b41-930d-29d3ccd6c137/logo.png?v=1663674509545); 
background-repeat: no-repeat;
background-size: cover;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
